@page "/listado-electronicos"
@inject HttpClient Http
@using Componentes;



<PageTitle>Electronicos</PageTitle>

<h1>Electronicos</h1>

<p>Listado de electronicos en existencia.</p>


<Lab12YG.Componentes.ListadoElectronicos></Lab12YG.Componentes.ListadoElectronicos>
