@page "/listado-libros"
@inject HttpClient Http
@using Componentes;



<PageTitle>Libros</PageTitle>

<h1>Libros</h1>

<p>Listado de libros en existencia.</p>


<Lab12YG.Componentes.ListadoLibros></Lab12YG.Componentes.ListadoLibros>
