@page "/listado-productos"
@inject HttpClient Http
@using Componentes;



<PageTitle>Productos</PageTitle>

<h1>Productos</h1>

<p>Listado de productos en existencia.</p>


<Lab12YG.Componentes.ListadoProductos></Lab12YG.Componentes.ListadoProductos>