@page "/listado-alimentos"
@inject HttpClient Http
@using Componentes;



<PageTitle>Alimentos</PageTitle>

<h1>Alimentos</h1>

<p>Listado de alimentos en existencia.</p>


<Lab12YG.Componentes.ListadoAlimentos></Lab12YG.Componentes.ListadoAlimentos>
